.educacion {
  display:  block;/**Corregir el espacio en la line del tiempo */
  width: 1024px;
  margin: 0 auto;
  margin-top: 150px;
}

h3 {
  font-family: "Inconsolata";
  font-size: 3.5em;
  color: #ffffff;
  margin-bottom: 15px;
  position: relative;
  width: fit-content;
}
.education-title::before {
  content: "02.";
  color: #fd9329;
}

.education-title::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #5347d5;
  height: 1px;
  width: 700px;
  top: 50%;
  right: -710px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  line-height: 25px;
}

.time-line{
	width: 90%;
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	position: relative;
}

.time-line::after {
	content: "";
	width: 2px;
	height: 100%;
	background:#5347d5;
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	box-shadow: 0 0 15px #7a72d8;
}


.evento {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
	position: relative;
}

.evento::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #DCDFD9;
	border: 2px solid #1b3231;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}

.program {
	display: block;
	position: relative;
	align-items: center;
	justify-content: start;
	margin-top: 70px;
	width: calc(42% + 20px);
}

.program__name{
	font-family: "Inconsolata";
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: bold;
    color: #fd9329;
	line-height: 30px;
	text-decoration: bold;
}

.progran__date{
	display: inline;
	font-size: 10px;
	font-weight: italic;
    color: #fd9329;
	line-height: 30px;
}

.foto {
	width: 42%;
	border: 10px solid #c9c9c9;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.foto::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid #c9c9c9;
	position: absolute;
	right: -50px;
	top: calc(50% - 20px);
}

.foto img {
	width: 100%;
	vertical-align: top;
}

.evento:nth-child(even) {
	flex-direction: row-reverse;
}

.evento:nth-child(even) .program {
	justify-content: end;
}

.evento:nth-child(even) .foto::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid #c9c9c9;
	right: initial;
	left: -50px;
}