*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width:100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

#particles {
  position:static;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(to bottom, #6d01fa 50%, #000000 90%);
  
}

#intro {
  
  position: fixed ;
  left: 0;
  top: 50%;
  padding: 0 10px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-family: 'Syncopate';
  font-weight: 10;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 120;
  color: #ffffff;
  letter-spacing: 0.05em;
  margin: 10px;
}

i{
  margin: 0 5px;
  color: #ffffff;
  font-size: 4em;

}
i:hover{   
  font-size: 5em;
}

/* !END SECTION PARTICLES */

/* *SECTION HEADER */
header{
  position: relative;
  background-color: #000000;
  background-size: cover;
  background-position: center;
}
.nav{
  width: 100%;
 display: flex; 
 align-items: center;
 justify-content: space-between;
 padding: 50px;
 transition: all 0.5s ease;
}
.nav.active{
  position: fixed;
  background: #ffffff;
  padding: 15px;
}
.nav.active .logo{
  color: #fff;
}
.nav.active a{
  color: #ffffff;
}
.nav.active a:hover{
  background: #ffffff;
}

.logo{
  font-size: 3em;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;

}
.menu{
  display: flex;
}
.menu li{
  list-style: none;
  margin: 30px;
}
.menu li a{
  font-size: 2em;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease;
}
.menu li a:hover{
  padding: 5px 10px;
  color: #fa5001;
  background: #ffffff;
  border-radius: 15px;
}
.logo:hover{
  padding: 10px 10px;
  color: #fa5001;
  background: #ffffff;
  border-radius: 15px;
  transition: 0.5s ease;
}
.scrol{
  height: 0px;
}



/* !END SECTION HEADER */

/* *SECTION MAIN */
main{
  position: relative;
  padding: 50px;
  background-color: #000000;
}

.abaut h2{
  font-family: 'Syncopate';
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #ffffff;
}

.abaut p{
  font-family: 'Syncopate';
  font-size: 2em;
  margin-bottom: 10px;
  color: #ffffff;
}

