*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html, body {
  max-width:100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #6d01fa 50%, #000000 90%);
  
}

#intro {
  
  position: absolute ;
  left: 0;
  top: 50%;
  padding: 0 10px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 120;
  color: #ffffff;
  letter-spacing: 0.05em;
  margin: 10px;
}
i{
  margin: 0 5px;
}


main{
  position: relative;
  padding: 50px;
  background-color: #000000;
  
 
}
.abaut h2{
  font-family: 'Syncopate';
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #ffffff;
}
.abaut p{
  font-family: 'Syncopate';
  font-size: 2em;
  margin-bottom: 10px;
  color: #ffffff;
}