@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&family=Lora:ital,wght@0,400;0,600;1,400&family=Roboto:ital,wght@1,100&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: #000000;
}

#particles {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #6d01fa 50%, #000000 90%);
}

#intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 10px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-family: "Lora";
  font-weight: 10;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 120;
  color: #ffffff;
  letter-spacing: 0.05em;
  margin: 10px;
}

i {
  margin: 0 5px;
  color: #ffffff;
  font-size: 4em;
}

/* !END SECTION PARTICLES */

/* *SECTION HEADER */
header {
  position: relative;
  background-color: #000000;
  background-size: cover;
  background-position: center;
}
.nav {
  font-family: "Inconsolata";
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.logo {
  font-size: 3em;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  margin-left: 10px;
}
.menu {
  display: flex;
}
.menu li {
  list-style: none;
  margin: 8px;
}
.menu li a {
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
}

.menu li a:hover{
  color: #fa01c4;
  
}


/* CSS */
.CV {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.CV:hover,
.CV:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.CV:active {
  background: var(--color);
  color: #fff;
}


/* !END SECTION HEADER */

/* *SECTION MAIN ME*/
main {
  position: relative;
  padding: 60px;
  background-color: #000000;
}

.me{
  display : flex;
  width: 100%;
}

.bio h2 {
  font-family: "Inconsolata";
  font-size: 3.5em;
  color: #ffffff;
  margin-bottom: 15px;
  
}

.bio p {
  font-family: "Roboto", sans-serif;;
  font-size: 1.5em;
  color: #ffffff;
  width: 93%;
  text-align: justify;
  line-height: 25px;


}

.img .bio__img{
  width: 480px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 2%;
  
}

/* *SECTION MAIN ME*/