<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <title>Brandon A.V</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://kit.fontawesome.com/823b01c063.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/jquery.particleground.js"></script>
    <script type="text/javascript" src="../static/js/demo.js"></script>
    <link rel="icon" type="image/x-icon" href="../static/img/怒.png">
</head>

<body>
    <div id="particles">
        <div id="intro">
            <h2 style="font-family: 'Syncopate', sans-serif; font-weight: 10">Brandon Avendaño Villegas</h2>
            <a href="https://www.linkedin.com/in/brandon-avendaño-villegas/" style="color: white"><i
                    class="fab fa-linkedin" style="font-size: 2.5em"></i></a>
            <a href="https://www.facebook.com/BrandonAvendanoVillegas/" style="color: white"><i class="fab fa-facebook"
                    style="font-size: 2.5em"></i></a>
            <a href="https://github.com/LanIkari/" style="color: white"><i class="fab fa-github"
                    style="font-size: 2.5em"></i></a>
            <a href="https://twitter.com/Brandon_Ikari/" style="color: white"><i class="fa-brands fa-twitter"
                    style="font-size: 2.5em"></i></a>
        </div>
    </div>

    <main>

    </main>



</body>

</html>