<!DOCTYPE html>

<html lang="en">

<head>
        <meta charset="UTF-8" />
        <title>Brandon A.V</title>
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css" />
        <script src="https://kit.fontawesome.com/823b01c063.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../static/js/jquery.particleground.js"></script>
        <script type="text/javascript" src="../static/js/demo.js"></script>
        <link rel="icon" type="image/x-icon" href="../static/img/怒.png">
</head>

<body>
        <div id="particles">
                <div id="intro">
                        <h1 style="font-family: 'Syncopate', sans-serif; font-weight: 10">Brandon Avendaño Villegas</h1>
                        <a href="https://www.linkedin.com/in/brandon-avendaño-villegas/" style="color: white"><i
                                        class="fab fa-linkedin" style="font-size: 3em"></i></a>
                        <a href="https://www.facebook.com/BrandonAvendanoVillegas/" style="color: white"><i
                                        class="fab fa-facebook" style="font-size: 3em"></i></a>
                        <a href="https://github.com/LanIkari/" style="color: white"><i class="fab fa-github"
                                        style="font-size: 3em"></i></a>
                        <a href="https://twitter.com/Brandon_Ikari/" style="color: white"><i
                                        class="fa-brands fa-twitter" style="font-size: 3em"></i></a>
                </div>
                
        </div>

        <main>
                <section class="me">
                        <div class="abaut">
                                <h2>Sobre mi</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                        </div>
                </section>


        </main>

        <footer>

        </footer>



</body>

</html>