<!DOCTYPE html>

<html lang="en">

<head>
        <meta charset="UTF-8" />
        <title>Brandon A.V</title>
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/style.css" />
        <script src="https://kit.fontawesome.com/823b01c063.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../static/js/jquery.particleground.js"></script>
        <script type="text/javascript" src="../static/js/demo.js"></script>
        <link rel="icon" type="tex" href="../static/img/怒.png">
</head>

<body>
        <div id="particles">
                <div id="intro">
                        <h1>Brandon Avendaño Villegas</h1>
                        <a href="https://www.linkedin.com/in/brandon-avendaño-villegas/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/BrandonAvendanoVillegas/"><i class="fab fa-facebook" ></i></a>
                        <a href="https://github.com/LanIkari/"><i class="fab fa-github"></i></a>
                        <a href="https://twitter.com/Brandon_Ikari/"><i class="fa-brands fa-twitter" style="font-size: 3em"></i></a>
                </div>
                
        </div>

        <header>
                <div class="caja">
                        <h3>怒</h3>
                        <i class="fa-solid fa-bars" id="barrs"></i>
                        <nav>
                                <ul>
                                        <li><a href="index.html">Inicio</a></li>
                                        <li><a href="about.html">Sobre mi</a></li>
                                        <li><a href="contact.html">Contacto</a></li>
                                </ul>
                        </nav>
                </div>
        </header>

        <main>
                <section class="me">
                        <div class="abaut">
                                <h2>Sobre mi</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis aspernatur commodi animi pariatur ab cum beatae perspiciatis aut voluptatum. Officiis, ab! Provident fuga eos voluptates nobis rem quos deserunt.</p>
                        </div>
                </section>


        </main>

        <footer>

        </footer>



</body>

</html>